<div class="cms-home">
    <div class="jbb-focal-cont">
      <section class="jbb-ne19-above-section" style="background-color: #1f2221; z-index: 10; position: fixed; width: 100%; top: 0px;">
        <div class="jbb-ne19-above-back">
          <div class="container jbb-ne19-above">
            <div class="jbb-ne19-above-promo-con">
              <div class="jbb-ne19-promo-cont">
                <div class="jbb-ne19-promo-cont-main">
                  <div class="jbb-ne19-promo1">
                    <p class="jbb-ne19-promtop">Hasta</p>
                    <p class="jbb-ne19-prommid">50<span>%</span></p>
                    <p class="jbb-ne19-prombot">De descuento</p>
                  </div>
                  <div class="jbb-ne19-promo2">
                    <p class="jbb-ne19-promtop">Hasta</p>
                    <p class="jbb-ne19-prommid">18</p>
                    <p class="jbb-ne19-prombot">mensualidades sin intereses</p>
                  </div>
                  <div class="jbb-ne19-promo3">
                    <p class="jbb-ne19-promtop">Empieza a pagar</p>
                    <p class="jbb-ne19-prommid">Marzo</p>
                    <p class="jbb-ne19-prombot">del 2020 con tarjeta Palacio</p>
                  </div>
                  <div class="jbb-ne19-promo4">
                    <p class="jbb-ne19-promtop">Tus puntos Palacio</p>
                    <p class="jbb-ne19-prommid"><span class="ne19-imgprom-cont" style="padding-top: 5px;"><img class="img-responsive" src="/media/wysiwyg/medios_onsite/home/tarjetas_palacio1.png" alt=""></span></p>
                    <p class="jbb-ne19-prombot">Valen el doble</p>
                  </div>
                </div>
                <div style="color: #fff; text-align: center;">
                  <p class="prom-extra">Además genera puntos Palacio al <span style="color:#fec424">DOBLE</span></p>
                  <p class="jbb-ne19-envio"><span class="hs-enviog-img"><img class="img-responsive jbb-img-3promo" src="/media/wysiwyg/medios_onsite/home/camioncito-ph.png" alt=""></span>ENVÍO GRATIS</p>
                  <p class="jbb-ne19-vigencia" style="color: #E6E6E6;">Del 13 y 14 de Noviembre del 2019.</p>
                  <!--<a class="jbb-ne19-a" href="" style="display: inline-block;">Los mejores descuentos</a>-->
                </div>
              </div>
            </div>
            <img class="arrw" src="/media/wysiwyg/medios_onsite/home/buen-fin-flecha-above.png"> 
            <div class="svgs">              
              <img class="logobf" src="/media/wysiwyg/medios_onsite/home/buen-fin-logo.png">
              <img class="txtbf" src="/media/wysiwyg/medios_onsite/home/buen-fin-lo-mejor-del-buen-fin-logo.svg">
            </div>
          </div>
        </div>
      </section>
     <div class="gradient">
      <section class="jbb-fix-ssection-nojs fix-pleca">
        <div class="container faqs">
          <h2>TODO LO QUE NECESITAS SABER</h2>
          <ul>
            <li class="qs">¿Qué es el Buen Fin?</li>
            <li>El Buen Fin 2019 es un fin de semana de 4 días en El Palacio de Hierro que tiene las mejores promociones del año y mensualidades sin intereses con Tarjeta Palacio, bancarias participantes y PayPal.</li>
            <li class="qs">¿Cuándo empieza El Buen Fin 2019?</li>
            <li>El Buen Fin 2019 empieza el 15 de noviembre y termina el 18 de noviembre del 2019.</li>
            <li class="qs">¿Cuáles serán las ofertas de El Buen Fin 2019?</li>
            <li>Suscríbete a nuestro Newsletter y entérate antes que nadie de nuestras promociones en marcas exclusivas, categorías y productos.</li>
            <li class="qs">¿Cómo puedo comprar en Línea?</li>
            <li>1-  Inicia sesión o regístrate<br>2- Agrega productos a tu bolsa dando clic en "Agregar a la Bolsa".<br>3- Confirma los datos de entrega a domicilio.<br>4- Elige tu método de pago: Tarjeta Palacio, tarjetas de crédito o débito o Paypal<br>5- Verifica tus datos y da clic en "confirmar compra".<br>6- Revisa tu correo, ya que recibirás un mensaje con los datos de tu compra.</li>
            <li class="qs">¿Cuáles son los métodos de pago?</li>
            <li>Tarjeta Palacio, bancarias participantes y PayPal.</li>
          </ul>
          <h2>LO MEJOR DEL BUEN FIN</h2>
        </div>
      </section>

      <section class="cat-one fix-pleca">
      </section>

      <section class="fix-pleca">
        <div class="container sale">
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="img-card-cont" onclick="window.location='/eboutiques/eboutique-michael-kors.html?promo_id=191113&promo_name=BuenFin19&promo_creative=MKors&promo_position=M1-a:LandBuenFin';">
              <div class="img-card-imgcont alone">
                <img class="img-back" src="/media/wysiwyg/medios_onsite/home/buen-fin-michael-kors.jpg">
                <div class="img-card-txt-cont">
                  <div class="title-and-logo">
                    <h2 style="color:#494949;">MICHAEL<br>KORS</h2>
                    <p style="color: #EC1D24;">EL BUEN FIN 2019</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="col-md-6 col-sm-6 col-xs-6">
              <div class="img-card-cont" onclick="window.location='/ellas/ellas-zapatos/ellas-zapatos-botas.html?promo_id=191113&promo_name=BuenFin19&promo_creative=BotasBotines&promo_position=M1-b:LandBuenFin';">
                <div class="img-card-imgcont">
                  <img class="img-responsive jbb-img-scale" src="/media/wysiwyg/medios_onsite/home/buen-fin-botines.png">
                  <div class="img-card-txt-cont">
                    <article>
                      <div class="price-tag">
                        <p class="smtxt">EL BUEN FIN</p>
                        <h3>BOTAS Y BOTINES</h3>
                      </div>
                      <a onclick="" class="buttonblk">
                        <span>VER MÁS</span>
                      </a>
                    </article>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <div class="img-card-cont" onclick="window.location='/ellos/ellos-ropa/ellos-ropa-playeras-polos.html?promo_id=191113&promo_name=BuenFin19&promo_creative=PlayerasPolos&promo_position=M1-c:LandBuenFin';">
                <div class="img-card-imgcont">
                  <img class="img-responsive jbb-img-scale" src="/media/wysiwyg/medios_onsite/home/buen-fin-polos.png">
                  <div class="img-card-txt-cont">
                    <article>
                      <div class="price-tag">
                        <p class="smtxt">EL BUEN FIN</p>
                        <h3>PLAYERAS Y POLOS</h3>
                      </div>
                      <a onclick="" class="buttonblk">
                        <span>VER MÁS</span>
                      </a>
                    </article>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <div class="img-card-cont" onclick="window.location='/ellas/ellas-accesoriosn/ellas-accesorios-bolsasv.html?promo_id=191113&promo_name=BuenFin19&promo_creative=Bolsos&promo_position=M1-d:LandBuenFin';">
                <div class="img-card-imgcont">
                  <img class="img-responsive jbb-img-scale" src="/media/wysiwyg/medios_onsite/home/buen-fin-bolsos.png">
                  <div class="img-card-txt-cont">
                    <article>
                      <div class="price-tag">
                        <p class="smtxt">EL BUEN FIN</p>
                        <h3>BOLSOS</h3>
                      </div>
                      <a onclick="" class="buttonblk">
                        <span>VER MÁS</span>
                      </a>
                    </article>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <div class="img-card-cont" onclick="window.location='/ellos/ellos-ropa/chamarras-moda.html?promo_id=191113&promo_name=BuenFin19&promo_creative=ChamarrasHombre&promo_position=M1-e:LandBuenFin';">
                <div class="img-card-imgcont">
                  <img class="img-responsive jbb-img-scale" src="/media/wysiwyg/medios_onsite/home/buen-fin-chamarras.png">
                  <div class="img-card-txt-cont">
                    <article>
                      <div class="price-tag">
                        <p class="smtxt">EL BUEN FIN</p>
                        <h3>CHAMARRAS</h3>
                      </div>
                      <a onclick="" class="buttonblk">
                        <span>VER MÁS</span>
                      </a>
                    </article>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="cat-two fix-pleca">
      </section>

      <section class="fix-pleca">
        <div class="container sale">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="img-card-cont" onclick="window.location='/tecnologia/tecnologia-computo/tecnologia-computo-laptop.html?promo_id=191113&promo_name=BuenFin19&promo_creative=Laptops&promo_position=M2-a:LandBuenFin';">
                        <div class="img-card-imgcont"><img class="img-responsive jbb-img-scale" src="/media/wysiwyg/medios_onsite/home/buen-fin-laptops.png">
                            <div class="img-card-txt-cont">
                                <article>
                                    <div class="price-tag">
                                        <p class="smtxt">EL BUEN FIN</p>
                                        <h3>LAPTOPS</h3>
                                    </div><a onclick="" class="buttonblk"><span>VER MÁS</span></a>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="img-card-cont" onclick="window.location='/tecnologia/tecnologia-tvyvideo/tecnologia-tvyvideo-pantallas.html?promo_id=191113&promo_name=BuenFin19&promo_creative=Pantallas&promo_position=M2-b:LandBuenFin';">
                        <div class="img-card-imgcont"><img class="img-responsive jbb-img-scale" src="/media/wysiwyg/medios_onsite/home/buen-fin-pantallas.png">
                            <div class="img-card-txt-cont">
                                <article>
                                    <div class="price-tag">
                                        <p class="smtxt">EL BUEN FIN</p>
                                        <h3>PANTALLAS</h3>
                                    </div><a onclick="" class="buttonblk"><span>VER MÁS</span></a>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="img-card-cont" onclick="window.location='/hogar/hogar-linea-blanca/hogar-lineablanca-refrigeradores.html?promo_id=191113&promo_name=BuenFin19&promo_creative=Refrigeradores&promo_position=M2-c:LandBuenFin';">
                        <div class="img-card-imgcont"><img class="img-responsive jbb-img-scale" src="/media/wysiwyg/medios_onsite/home/buen-fin-refrigeradores.png">
                            <div class="img-card-txt-cont">
                                <article>
                                    <div class="price-tag">
                                        <p class="smtxt">EL BUEN FIN</p>
                                        <h3>REFRIGERADORES</h3>
                                    </div><a onclick="" class="buttonblk"><span>VER MÁS</span></a>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="img-card-cont" onclick="window.location='/tecnologia/tecnologia-audio/tecnologia-audio-audifonos.html?promo_id=191113&promo_name=BuenFin19&promo_creative=Audifonos&promo_position=M2-d:LandBuenFin';">
                        <div class="img-card-imgcont"><img class="img-responsive jbb-img-scale" src="/media/wysiwyg/medios_onsite/home/buen-fin-audifonos.png">
                            <div class="img-card-txt-cont">
                                <article>
                                    <div class="price-tag">
                                        <p class="smtxt">EL BUEN FIN</p>
                                        <h3>AUDÍFONOS</h3>
                                    </div><a onclick="" class="buttonblk"><span>VER MÁS</span></a>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="img-card-cont" onclick="window.location='/eboutiques/eboutique-apple.html?promo_id=191113&promo_name=BuenFin19&promo_creative=Apple&promo_position=M2-e:LandBuenFin';">
                    <div class="img-card-imgcont alone"><img class="img-back" src="/media/wysiwyg/medios_onsite/home/buen-fin-apple.jpg">
                        <div class="img-card-txt-cont">
                            <div class="title-and-logo">
                                <h2 style="color: #494949">APPLE</h2>
                                <p style="color: #EC1D24;">EL BUEN FIN 2019</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </section>

      <section class="cat-three fix-pleca">
      </section>

      <section class="fix-pleca">
        <div class="container sale scll">
            <div class="wrp">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="img-card-cont" onclick="window.location='/gourmet/gourmet-destilados.html?promo_id=191113&promo_name=BuenFin19&promo_creative=VinosLicores&promo_position=M3-a:LandBuenFin';">
                        <div class="img-card-imgcont default"><img class="img-back" src="/media/wysiwyg/medios_onsite/home/buen-fin-vinos-licores.jpg">
                            <div class="img-card-txt-cont">
                                <div class="title-and-logo">
                                    <h2 style="color:#FFF">VINOS Y<br>LICORES</h2>
                                    <p style="color:#FFF">PREPÁRATE PARA LAS FIESTAS</p>
                                    <p style="color: #EC1D24;">EL BUEN FIN 2019</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="img-card-cont" onclick="window.location='/hogar/hogar-muebles/hogar-muebles-salas.html?promo_id=191113&promo_name=BuenFin19&promo_creative=Salas&promo_position=M3-b:LandBuenFin';">
                        <div class="img-card-imgcont default"><img class="img-back" src="/media/wysiwyg/medios_onsite/home/buen-fin-sala.jpg">
                            <div class="img-card-txt-cont">
                                <div class="title-and-logo">
                                    <h2 style="color:#FFF">SALAS</h2>
                                    <p style="color:#FFF">TODO PARA TU HOGAR</p>
                                    <p style="color: #EC1D24;">EL BUEN FIN 2019</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="img-card-cont" onclick="window.location='/videojuegos.html?promo_id=191113&promo_name=BuenFin19&promo_creative=Videojuegos&promo_position=M3-c:LandBuenFin';">
                        <div class="img-card-imgcont default"><img class="img-back" src="/media/wysiwyg/medios_onsite/home/buen-fin-videojuegos.jpg">
                            <div class="img-card-txt-cont">
                                <div class="title-and-logo">
                                    <h2 style="color:#FFF">VIDEOJUEGOS</h2>
                                    <p style="color:#FFF">SACA TU LADO GAMER</p>
                                    <p style="color: #EC1D24;">EL BUEN FIN 2019</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </section>

      <section class="cat-four fix-pleca">
      </section> 
    </div>
</div>
<div class="spinner-bnf"></div>
<style>
  header#header {
    background-color: #1f2220!important;
  }
  .jbb-ne19-above-section{position: relative!important;margin-top: -1px;}
  .jbb-ne19-above-back {
  }
  .container.jbb-ne19-news-section-cont {
    height: 450px;
    position: relative;
  }
  .jbb-ne19-above{
    height: 300px;
    position: relative;
  }
  .jbb-ne19-above-promo-con {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
  }
  .jbb-ne19-promo-cont-main {
      display: table;
  }
  .jbb-ne19-promo-cont-main > [class*='jbb-ne19-promo']{
    display: table-cell;
    text-align: center;
    padding: 0 20px;
    position: relative;
  }
  .jbb-ne19-promo-cont-main > [class*='jbb-ne19-promo']:before {
    content: "+";
    position: absolute;
    font-size: 23px;
    font-family: "Gotham-Bold";
    left: -5%;
    z-index: 2;
    color: #fec424;
    top: 50%;
    transform: translateY(-50%);
  }
  .jbb-ne19-promo-cont-main.show-1 > [class*='jbb-ne19-promo']:nth-of-type(2), .jbb-ne19-promo-cont-main.show-1 > [class*='jbb-ne19-promo']:nth-of-type(3), .jbb-ne19-promo-cont-main.show-1 > [class*='jbb-ne19-promo']:nth-of-type(4), .jbb-ne19-promo-cont-main.show-2 > [class*='jbb-ne19-promo']:nth-of-type(3), .jbb-ne19-promo-cont-main.show-2 > [class*='jbb-ne19-promo']:nth-of-type(4), .jbb-ne19-promo-cont-main.show-3 > [class*='jbb-ne19-promo']:nth-of-type(4), .jbb-ne19-promo-cont-main.show-1y2 > [class*='jbb-ne19-promo']:nth-of-type(3),  .jbb-ne19-promo-cont-main.show-1y2 > [class*='jbb-ne19-promo']:nth-of-type(4), .jbb-ne19-promo-cont-main.show-1y3 > [class*='jbb-ne19-promo']:nth-of-type(2),  .jbb-ne19-promo-cont-main.show-1y3 > [class*='jbb-ne19-promo']:nth-of-type(4), .jbb-ne19-promo-cont-main.show-1y4 > [class*='jbb-ne19-promo']:nth-of-type(2),  .jbb-ne19-promo-cont-main.show-1y4 > [class*='jbb-ne19-promo']:nth-of-type(3), .jbb-ne19-promo-cont-main.show-2y3 > [class*='jbb-ne19-promo']:first-of-type,  .jbb-ne19-promo-cont-main.show-2y3 > [class*='jbb-ne19-promo']:nth-of-type(4), .jbb-ne19-promo-cont-main.show-2y3 > [class*='jbb-ne19-promo']:nth-of-type(2):before, .jbb-ne19-promo-cont-main.show-2y4 > [class*='jbb-ne19-promo']:nth-of-type(2):before, .jbb-ne19-promo-cont-main.show-3y4 > [class*='jbb-ne19-promo']:nth-of-type(3):before, .jbb-ne19-promo-cont-main.show-2y4 > [class*='jbb-ne19-promo']:first-of-type,  .jbb-ne19-promo-cont-main.show-2y4 > [class*='jbb-ne19-promo']:nth-of-type(3), .jbb-ne19-promo-cont-main.show-3y4 > [class*='jbb-ne19-promo']:first-of-type,  .jbb-ne19-promo-cont-main.show-3y4 > [class*='jbb-ne19-promo']:nth-of-type(2) {
    display: none;
  }
  .jbb-ne19-promo-cont-main.show-2-only > [class*='jbb-ne19-promo']:first-of-type, .jbb-ne19-promo-cont-main.show-2-only > [class*='jbb-ne19-promo']:nth-of-type(3), .jbb-ne19-promo-cont-main.show-2-only > [class*='jbb-ne19-promo']:nth-of-type(4){
    display: none;
  }
  .jbb-ne19-promo-cont-main.show-2-only > [class*='jbb-ne19-promo']:nth-of-type(2):before {
      display: none;
  }
  .jbb-csubmenu-cont.state2 {
      top: 99px;
  }
  .jbb-ne19-promo-cont-main.show-1, .jbb-ne19-promo-cont-main.show-1 > [class*='jbb-ne19-promo']:first-of-type, .jbb-ne19-promo-cont-main.show-2-only, .jbb-ne19-promo-cont-main.show-2-only > [class*='jbb-ne19-promo']:nth-of-type(2)   {
      display: block;
  }
  .jbb-ne19-promo1:before {
    display: none;
  }
  .jbb-ne19-promtop, .jbb-ne19-prombot {
    font-size: 11px;
    color: #fff;
    text-transform: initial;
    margin: 0;
  }
  .jbb-ne19-prommid {
    font-family: "Gotham-Bold";
    color: #fec424;
    font-size: 42px;
    margin: 0;
    line-height: 50px;
    letter-spacing: -2px;
    text-transform: uppercase;
  }
  .jbb-ne19-prommid span {
      font-size: 22px;
      line-height: 32px;
      font-family: Gotham-Bold;
  }
  .jbb-ne19-prommid .ne19-imgprom-cont {
    max-width: 100px;
  }
  .jbb-ne19-prommid .ne19-imgprom-cont {
    max-width: 100px;
    display: inherit;
    margin: 0 auto;
    height: 50px;
  }
  .jbb-ne19-prombot {
    max-width: 100px;
    margin: 0 auto;
  }
  .jbb-ne19-envio {
    margin: 0;
    font-size: 8px;
    line-height: 30px;
    margin-top: 10px;
  }
  .jbb-ne19-vigencia {
    font-size: 11px;
    line-height: 35px;
    margin: 0;
  }
  .jbb-ne19-a {
    line-height: 40px;
    width: 190px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
    display: block;
    text-align: center;
    color: #000 !important;
    font-size: 12px;
    text-decoration: none !important;
    font-family: Gotham-Medium;
  }
  .svgs{position: absolute; top: 70px;left:50px;display: table;}
  .svgs img{display: table-cell;float: left;}
  .svgs img.logobf{width:100%; max-width: 100px;display: block;margin: 15px;}
  img.arrw{max-height: 300px;position: relative;left: -120px;}
  .faqs h2{text-align: center;margin: 50px auto;font-family: Gotham-Bold; font-size: 21px;}
  .faqs ul li{font-family: Gotham-Book; font-size: 14px;}
  .faqs ul li.qs{font-family: Gotham-Medium;margin:10px 0px;}
  .jbb-ne19-promo3 .jbb-ne19-prommid{font-size: 23px;}
  @media screen and (max-width: 1024px){
    .jbb-ne19-above-section{margin: 48px 0px 0px 0px;}
    .svgs{left:0}
  }
  @media screen and (max-width: 768px){
    img.arrw{display: none;}
    .jbb-ne19-above-promo-con {
      position: relative;
      top: 65%;
      transform: translateY(-50%);
      right: initial;
      margin: 0px auto;
      display: table;
    }
    .svgs{
      position: absolute;
      top: 10px;
      left: 50%;
      transform: translateX(-50%);
      display: block;
    }
    .svgs img{display: inline-block;float: left;height: 60px;}
    .svgs img.logobf{width:initial; max-width: 100px;margin: 0px 15px 0px 0px;}
  }
  @media only screen and (max-width: 767px){
    .faqs ul {padding: 0px 15px;}
    .jbb-ne19-above-promo-con{
      display: block;
      top: 60%;
    }
    .jbb-ne19-promo-cont-main {
      display: block;
      text-align: center;
      margin: 0px auto;
    }
    .jbb-ne19-prommid{
      font-size: 35px;
    }
    .jbb-ne19-promo-cont-main > [class*='jbb-ne19-promo']{
      display: inline-block;
      vertical-align: top;
      padding: 0px 0px;
      margin: 10px 0px;
    }
    .jbb-ne19-promo4{
      display: block;
      width: 100%;
    }
    .jbb-ne19-promo4:before{
      left:50%!important;
      top: -15px!important;
    }
    .jbb-ne19-above-section {
      margin: 0px 0px 0px 0px;
    }
    .jbb-focal-cont .container {
        padding-left: 5px;
        padding-right: 5px;
    }
    .container.jbb-ne19-above {
        height: 450px;
    }
    .svgs{
      width: 210px;
    }
  }
  section.fix-pleca {z-index: 19 !important;}.gradient{background: rgba(0,0,0,1); background: -webkit-linear-gradient(#1f2221 0%, #FFF 1.3%); background: -o-linear-gradient(#1f2221 0%, #FFF 1.3%); background: linear-gradient(#1f2221 0%, #FFF 1.3%);padding-bottom: 150px;}.container.sale [class*=col-] {padding-right: 0;padding-left: 0;}.sale .img-card-cont {position: relative;padding: 1px;cursor: pointer;}.sale .img-card-imgcont{background-color: #fbfbfb;position: relative;overflow: hidden;cursor: pointer;height: 420px;}.sale .img-card-imgcont.alone{height: 842px;}.sale .img-card-imgcont.default{height: 600px;}.sale .img-card-imgcont:hover>img{-ms-transform: scale(1) translate3d(0,0,0);-webkit-transform: scale(1) translate3d(0,0,0);transform: scale(1) translate3d(0,0,0);}.sale .img-card-imgcont>img{-moz-transform: translate3d(0,0,0) scale(1.025);-webkit-transform: translate3d(0,0,0) scale(1.025);-o-transform: translate3d(0,0,0) scale(1.025);-ms-transform: translate3d(0,0,0) scale(1.025);transform: translate3d(0,0,0) scale(1.025);transition: all .6s cubic-bezier(.215,.61,.355,1);mix-blend-mode: multiply;margin: 10px auto 0px auto;display: block;max-width: 100%;max-height: 200px;}.sale .img-card-imgcont>img.img-back{mix-blend-mode: normal;margin: 0px;display: block;height: 100%;max-height: 100%;max-width: none;position: absolute;}.sale .img-card-imgcont>img.img-back.left{left:0px;}.sale .img-card-imgcont>img.img-back.right{right:0px;}.sale .img-card-imgcont>img.img-back.center{left: -50%;}.sale .img-card-txt-cont{height: 150px;width: 100%;text-align: center;position: absolute;bottom: 0px;display: table;}.sale .title-and-logo{padding: 0px 0px 40px 50px;vertical-align: bottom;display: table-cell;}.sale .title-and-logo h2{font-family: Gotham-Bold;font-size: 50px;margin: 0px 0px 5px 0px;text-align: left;line-height: .8;letter-spacing: -4px;}.sale .title-and-logo p{font-family: Gotham-Medium;font-size: 11px;margin: 0px;line-height: 1.4em;text-align: left;}.sale .price-tag h3{display: block;font-family: Gotham-Medium;font-size: 12px;color: #222;vertical-align: top;margin: 10px 0px; text-transform: uppercase;}.sale .price-tag p{display: block;font-family: Gotham-Book;line-height: 1.2em;font-size: 12px;color: #808080;margin: 10px auto 0px auto;position: relative;padding: 0px 10px;vertical-align: top;}.sale .price-tag p.smtxt{font-size: 8px;font-family: Gotham-Bold;color: #EC1D24;margin: 10px auto;}.sale .price-tag p.line-price{font-family: Gotham-Medium;position: absolute;left: 20px;bottom: 20px;color: #666;text-decoration: line-through;}.sale .price-tag p.price{font-family: Gotham-Bold;position: absolute;right: 20px;bottom: 20px;color: #EC1D24;}.sale .buttonblk{width: 100%;height: 40px;-webkit-transition: all .2s ease-in;-ms-transition: all .2s ease-in;-moz-transition: all .2s ease-in;-o-transition: all .2s ease-in;transition: all .2s ease-in;overflow: hidden;opacity: 0;position: absolute;bottom: -30px;padding: 0px 10px;left: 0px;margin: 10px 0px;}.sale a.buttonblk:hover span, .sale a.buttonblk:focus span, .sale a.buttonblk:visited span, .sale a.buttonblk:hover, .sale a.buttonblk:focus, .sale a.buttonblk:visited{color: #FFF;text-decoration: none;}.sale .buttonblk span{display: block;width: 100%;height: 100%;background-color: #000;line-height: 42px;font-size: 12px;color: #FFF;text-transform: uppercase;text-decoration: none;text-align: center;font-family: Gotham-Medium;letter-spacing: inherit;transition: letter-spacing .2s ease-in;}.sale .img-card-imgcont:hover .buttonblk{bottom: 0px;opacity: 1;transition: all .2s ease-in;}.sale .buttonblk:hover span{text-decoration: none;letter-spacing: .1em;transition: letter-spacing .2s ease-in;}.img-card-cont a:hover{text-decoration:none!important;}@media screen and (max-width: 1200px){.sale .title-and-logo{    padding: 0px 0px 40px 5%;}.sale .title-and-logo h2{font-size: 40px;}}@media screen and (max-width: 1024px) {.content-above {min-height: 700px;margin-top:-100px }}@media screen and (max-width:992px){}@media screen and (max-width: 768px) {.gradient{background: rgba(0,0,0,1); background: -webkit-linear-gradient(#1f2221 0%, #FFF 1%); background: -o-linear-gradient(#1f2221 0%, #FFF 1%); background: linear-gradient(#1f2221 0%, #FFF 1%);}.blockelement{height: 120px;}.blockelement div{bottom: 0px;}.content-above .above-scrollbar {overflow: scroll; -webkit-overflow-scrolling: touch;display: block!important;}.container.sale.scll{display: block;overflow:scroll;width:100%}.container.sale.scll .wrp{display: table;}.container.sale.scll .wrp>[class*=col-]{display: table-cell;float: none;min-width: 320px;}}@media screen and (max-width: 767px){.jbb-ne19-promo4{margin-top: 25px!important;}.content-above{margin-top: -50px;}.content-above .above-back {top: 18%;right: -15%;}.blockelement {min-width: 28vw;}.above-title{margin: 30% 0px 0px 10px;}}@media screen and (max-width: 520px){.container.sale{padding: 0px;}.sale .img-card-txt-cont{height: 180px;}.sale .title-and-logo{padding-left: 10%;}.sale .price-tag p{max-height: 150px;overflow:hidden;}.sale .price-tag p.line-price{left: inherit;bottom: 45px;width: 100%;}.sale .price-tag p.price{right: inherit;bottom: 20px;width: 100%;}.sale .buttonblk{display: none;}}.buttonyllw{display: block; width: 210px; height: 40px; background-color: #fec424;}.buttonyllw span{text-align: center; line-height: 42px; display: block; color: #000; font-family: Gotham-Medium; font-size: 12px; text-transform: uppercase;cursor: pointer;letter-spacing:inherit;transition: letter-spacing .2s ease-in;}.buttonyllw:hover span{letter-spacing: .1em; transition: letter-spacing .2s ease-in;}
</style>
<script type="text/javascript">
  star_spinner();
  // check if it is desktop or mobile
  $j(document).ready(function () {
    
    $j('#header').removeClass('jbb-header-whitevar ');

    $j('#aquielid').click(function (b) {
      b.preventDefault();
      $j('#krr_usr').trigger('click');
      return false;
    });
    skus_n =  new Array();
    skus_n2 =  new Array();
    Tt = 0;

    star_spinner();

    $j('.cat-one, .cat-two, .cat-three, .cat-four').html('');

      var cat = [['Lavadoras',12805],['Pantallas',12864],['Camaras',12866],['Celulares',16172]];
      Ct = cat.length;

      var a = 1;
      var b = '';
      var c = 50;
      d = 12;


      $j.each( cat, function(index, value) {
            console.log(value[0]+":"+value[1]);
            caza_ganga(a,value[1],c);
         });

      


      function caza_ganga(a,b,c){
              
              $j.ajax({
                  url : '/media/wysiwyg/medios_onsite/home/buenfin2019_json/'+b+'.json',
                  data: '',
                  type: 'GET',
                  dataType : 'text',
                  async:false,
                  success : function(data) {
                      resp = $j.parseJSON(data);
                      analiza_art(resp);
                  },
                  error : function(xhr, status) {
                  },
                  complete : function(xhr, status) {
                  }
              });
          }


        function analiza_art (resp){

            var ids =  new Array(); 

            $j.each( resp.Products, function(i) {
                var po = resp.Products[i].Precio
                var pe = resp.Products[i].Precio_Esp
                var dif = resp.Products[i].Precio - resp.Products[i].Precio_Esp;
                var sku = resp.Products[i].Sku;

                //  console.log(sku+': po='+parseFloat(po).toFixed(2)+' pe='+parseFloat(pe).toFixed(2)+' Dif='+parseFloat(dif).toFixed(2));

                 var por = 100-(100*(pe/po));
                var art = {sku:sku, po:po, pe:pe, dif:dif, por:por};
                
                if(pe>0){
                    ids.push(art);
                }

            });

              //console.log(ids);

            ids.sort(function(a, b){
                return b.dif-a.dif
            });

            var nids =  new Array(); 
            
            for (var i = 0; i < d; i+=1) {
                //  console.log(ids[i].sku);
                var s = ids[i].sku;
                nids.push(s);
                skus_n.push(s); //------
            }

            Tt++;
            if(Tt == Ct){
              nskus = skus_n.join(",");
          //console.log(nskus);
          n_art(nskus);
            }
          //  nskus = nids.join(",");
          //  console.log(nskus);   

            //n_art(nskus,z);

        }

        function n_art (nskus){
            $j.ajax({
                url : '/media/wysiwyg/medios_onsite/home/buenfin2019_json/resultado.json',
                //data: 'skus='+nskus,
                type: 'GET',
                dataType : 'text',
                success : function(data) {
                    //  console.log('Petición correcta');
                    //  console.log(data);
                    resp = $j.parseJSON(data);
                    genera_art(resp);

                    //$j('html, body').animate( { scrollTop : 0 }, 800 );
                },
                error : function(xhr, status) {
                    //  console.log('Petición error');
                },
                complete : function(xhr, status) {
                    //  console.log('Fin de la Peticion');
                }
            });
        }


       function genera_art (resp){

            var listado = resp;
        //console.log('a-------> '+listado);
        var Total = resp.length;
        console.log('total:'+Total);
        for (i=0; i<Total; i++) {
          //console.log('i:'+i);
          aleatorio = Math.floor(Math.random()*(listado.length));
          seleccion = listado[aleatorio];
          //console.log('elimina:'+listado[aleatorio]);
          skus_n2.push(listado[aleatorio]);
          listado.splice(aleatorio, 1);
          //console.log(listado,);
        }

          var resp = skus_n2;   

          var articulos = '';     

          var r = 0;
            $j.each( resp, function(i) {
                articulos +='<div class="col-md-3 col-sm-6 col-xs-6">\n' +
                '               <div class="img-card-cont Sku_link" data-url="'+resp[i].Url+'">\n' +
                '                   <div class="img-card-imgcont">\n' +
                '                       <img class="img-responsive jbb-img-scale" id="product-collection-image-'+resp[i].Id+'" src="'+resp[i].Imagen+'" alt="'+resp[i].Nombre+'">\n' +
                '                       <div class="img-card-txt-cont">\n' +
                '                           <article>\n' +
                '                               <div class="price-tag">\n' +
                '                                   <p class="smtxt">EL BUEN FIN</p>\n'+
                '                                   <h3>'+resp[i].Marca+'</h3>\n' +
                '                                   <p>'+resp[i].Nombre+'</p>\n' +
                '                                   <p class="line-price">$ '+numerosconCommas(parseFloat(resp[i].Precio).toFixed(2))+'</p>\n' +
                '                                   <p class="price">$ '+numerosconCommas(parseFloat(resp[i].Precio_Esp).toFixed(2))+'</p>\n' +
                '                               </div>\n' +
                '                               <a href="'+resp[i].Url+'" title="'+resp[i].Nombre+'" class="buttonblk"><span>VER MÁS</span></a>\n' +
                '                           </article>\n' +
                '                       </div>\n' +
                '                   </div>\n' +
                '               </div>\n' +
                '           </div>';

                r++;

                if(r == 12 ){
                  $j('.cat-one').append('<div class="container sale">'+articulos+'</div>');
                  articulos = '';     
                }

                if(r == 24 ){
                  $j('.cat-two').append('<div class="container sale">'+articulos+'</div>');
                  articulos = '';     
                }

                if(r == 36 ){
                  $j('.cat-three').append('<div class="container sale">'+articulos+'</div>');
                  articulos = '';     
                }

            });


            $j('.cat-four').append('<div class="container sale">'+articulos+'</div>');
            
            stop_spinner();

            
            $j('.Sku_link').click(function () {
                var link = $j(this).attr('data-url');
                console.log(link);
                window.location.href = link;
                return false;
            });


        }


        function numerosconCommas(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

  });
</script>