<div class="cms-home">
  <div class="jbb-focal-cont">
    <section class="content-above back title scrollbar" style="background: -webkit-linear-gradient(#000 0%, #232626 100%); background: -o-linear-gradient(#000 0%, #232626 100%); background: linear-gradient(#000 0%, #232626 100%);">
      <div class="above-container">
        <div class="above-back" style="background-image: url(/media/wysiwyg/medios_onsite/home/buen-fin-flechas-above.svg)"></div>
        <div class="above-title"> 
          <h1>SÓLO <span style="color: #EC1D24;">LO MEJOR</span> DEL BUEN FIN</h1> 
          <p>Descuentos increíbles en tus productos favoritos</p>
          <a id="scrllto" class="buttonyllw"><span>Empieza a comprar</span></a> 
        </div>
      </div>
      <div class="above-scrollbar" >
        <div class="wrapp">
          <div class="scroll-container">
            <div class="blockelement">
              <a href="/moda-mujer?promo_id=191115&promo_name=BuenFin19&promo_creative=Mujer&promo_position=Above1:LandBuenFin" target="_self">
                <img class="img-responsive" src="/media/wysiwyg/medios_onsite/home/buen-fin-mujer.png" alt="" name="">
                <div class="text-edit">
                  <span>MUJER</span>
                </div>
              </a>
            </div>
            <div class="blockelement">
              <a href="/moda-hombre?promo_id=191115&promo_name=BuenFin19&promo_creative=Hombre&promo_position=Above2:LandBuenFin" target="_self">
                <img class="img-responsive" src="/media/wysiwyg/medios_onsite/home/buen-fin-hombre.png" alt="" name=""> 
                <div class="text-edit">
                  <span>HOMBRE</span>
                </div>
              </a>
            </div>
            <div class="blockelement">
              <a href="/electronica?promo_id=191115&promo_name=BuenFin19&promo_creative=Kids&promo_position=Above3:LandBuenFin" target="_self">
                <img class="img-responsive" src="/media/wysiwyg/medios_onsite/home/buen-fin-kids.png" alt="" name="">
                <div class="text-edit">
                  <span>KIDS</span>
                </div>
              </a>
            </div>
            <div class="blockelement">
              <a href="/ninos-bebes?promo_id=191115&promo_name=BuenFin19&promo_creative=Electronica&promo_position=Above4:LandBuenFin" target="_self">
                <img class="img-responsive" src="/media/wysiwyg/medios_onsite/home/buen-fin-electronica.png" alt="" name="">
                <div class="text-edit">
                  <span>ELECTRÓNICA</span>
                </div>
              </a>
            </div>
            <div class="blockelement">
              <a href="/hogar-muebles?promo_id=191115&promo_name=BuenFin19&promo_creative=Hogar&promo_position=Above5:LandBuenFin" target="_self">
                <img class="img-responsive" src="/media/wysiwyg/medios_onsite/home/buen-fin-hogar.png" alt="" name=""> 
                <div class="text-edit">
                  <span>HOGAR</span>
                </div>
              </a>
            </div>
            <div class="blockelement">
              <a href="/marcas-lujo?promo_id=191115&promo_name=BuenFin19&promo_creative=Lujo&promo_position=Above6:LandBuenFin" target="_self">
                <img class="img-responsive" src="/media/wysiwyg/medios_onsite/home/buen-fin-lujo.png" alt="" name="">
                <div class="text-edit">
                  <span>LUJO</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="gradient">
      <section class="cat-one jbb-fix-ssection-nojs fix-pleca">
      </section>

      <section class="fix-pleca">
        <div class="container sale">
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="img-card-cont" onclick="window.location='/eboutiques/eboutique-michael-kors.html?promo_id=191113&promo_name=BuenFin19&promo_creative=MKors&promo_position=M1-a:LandBuenFin';">
              <div class="img-card-imgcont alone">
                <img class="img-back" src="/media/wysiwyg/medios_onsite/home/buen-fin-michael-kors.jpg">
                <div class="img-card-txt-cont">
                  <div class="title-and-logo">
                    <h2 style="color:#494949;">MICHAEL<br>KORS</h2>
                    <p style="color: #EC1D24;">EL BUEN FIN 2019</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="col-md-6 col-sm-6 col-xs-6">
              <div class="img-card-cont" onclick="window.location='/ellas/ellas-zapatos/ellas-zapatos-botas.html?promo_id=191113&promo_name=BuenFin19&promo_creative=BotasBotines&promo_position=M1-b:LandBuenFin';">
                <div class="img-card-imgcont">
                  <img class="img-responsive jbb-img-scale" src="/media/wysiwyg/medios_onsite/home/buen-fin-botines.png">
                  <div class="img-card-txt-cont">
                    <article>
                      <div class="price-tag">
                        <p class="smtxt">EL BUEN FIN</p>
                        <h3>BOTAS Y BOTINES</h3>
                      </div>
                      <a onclick="" class="buttonblk">
                        <span>VER MÁS</span>
                      </a>
                    </article>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <div class="img-card-cont" onclick="window.location='/ellos/ellos-ropa/ellos-ropa-playeras-polos.html?promo_id=191113&promo_name=BuenFin19&promo_creative=PlayerasPolos&promo_position=M1-c:LandBuenFin';">
                <div class="img-card-imgcont">
                  <img class="img-responsive jbb-img-scale" src="/media/wysiwyg/medios_onsite/home/buen-fin-polos.png">
                  <div class="img-card-txt-cont">
                    <article>
                      <div class="price-tag">
                        <p class="smtxt">EL BUEN FIN</p>
                        <h3>PLAYERAS Y POLOS</h3>
                      </div>
                      <a onclick="" class="buttonblk">
                        <span>VER MÁS</span>
                      </a>
                    </article>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <div class="img-card-cont" onclick="window.location='/ellas/ellas-accesoriosn/ellas-accesorios-bolsasv.html?promo_id=191113&promo_name=BuenFin19&promo_creative=Bolsos&promo_position=M1-d:LandBuenFin';">
                <div class="img-card-imgcont">
                  <img class="img-responsive jbb-img-scale" src="/media/wysiwyg/medios_onsite/home/buen-fin-bolsos.png">
                  <div class="img-card-txt-cont">
                    <article>
                      <div class="price-tag">
                        <p class="smtxt">EL BUEN FIN</p>
                        <h3>BOLSOS</h3>
                      </div>
                      <a onclick="" class="buttonblk">
                        <span>VER MÁS</span>
                      </a>
                    </article>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <div class="img-card-cont" onclick="window.location='/ellos/ellos-ropa/chamarras-moda.html?promo_id=191113&promo_name=BuenFin19&promo_creative=ChamarrasHombre&promo_position=M1-e:LandBuenFin';">
                <div class="img-card-imgcont">
                  <img class="img-responsive jbb-img-scale" src="/media/wysiwyg/medios_onsite/home/buen-fin-chamarras.png">
                  <div class="img-card-txt-cont">
                    <article>
                      <div class="price-tag">
                        <p class="smtxt">EL BUEN FIN</p>
                        <h3>CHAMARRAS</h3>
                      </div>
                      <a onclick="" class="buttonblk">
                        <span>VER MÁS</span>
                      </a>
                    </article>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="cat-two fix-pleca">
      </section>

      <section class="fix-pleca">
        <div class="container sale">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="img-card-cont" onclick="window.location='/tecnologia/tecnologia-computo/tecnologia-computo-laptop.html?promo_id=191113&promo_name=BuenFin19&promo_creative=Laptops&promo_position=M2-a:LandBuenFin';">
                        <div class="img-card-imgcont"><img class="img-responsive jbb-img-scale" src="/media/wysiwyg/medios_onsite/home/buen-fin-laptops.png">
                            <div class="img-card-txt-cont">
                                <article>
                                    <div class="price-tag">
                                        <p class="smtxt">EL BUEN FIN</p>
                                        <h3>LAPTOPS</h3>
                                    </div><a onclick="" class="buttonblk"><span>VER MÁS</span></a>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="img-card-cont" onclick="window.location='/tecnologia/tecnologia-tvyvideo/tecnologia-tvyvideo-pantallas.html?promo_id=191113&promo_name=BuenFin19&promo_creative=Pantallas&promo_position=M2-b:LandBuenFin';">
                        <div class="img-card-imgcont"><img class="img-responsive jbb-img-scale" src="/media/wysiwyg/medios_onsite/home/buen-fin-pantallas.png">
                            <div class="img-card-txt-cont">
                                <article>
                                    <div class="price-tag">
                                        <p class="smtxt">EL BUEN FIN</p>
                                        <h3>PANTALLAS</h3>
                                    </div><a onclick="" class="buttonblk"><span>VER MÁS</span></a>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="img-card-cont" onclick="window.location='/hogar/hogar-linea-blanca/hogar-lineablanca-refrigeradores.html?promo_id=191113&promo_name=BuenFin19&promo_creative=Refrigeradores&promo_position=M2-c:LandBuenFin';">
                        <div class="img-card-imgcont"><img class="img-responsive jbb-img-scale" src="/media/wysiwyg/medios_onsite/home/buen-fin-refrigeradores.png">
                            <div class="img-card-txt-cont">
                                <article>
                                    <div class="price-tag">
                                        <p class="smtxt">EL BUEN FIN</p>
                                        <h3>REFRIGERADORES</h3>
                                    </div><a onclick="" class="buttonblk"><span>VER MÁS</span></a>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="img-card-cont" onclick="window.location='/tecnologia/tecnologia-audio/tecnologia-audio-audifonos.html?promo_id=191113&promo_name=BuenFin19&promo_creative=Audifonos&promo_position=M2-d:LandBuenFin';">
                        <div class="img-card-imgcont"><img class="img-responsive jbb-img-scale" src="/media/wysiwyg/medios_onsite/home/buen-fin-audifonos.png">
                            <div class="img-card-txt-cont">
                                <article>
                                    <div class="price-tag">
                                        <p class="smtxt">EL BUEN FIN</p>
                                        <h3>AUDÍFONOS</h3>
                                    </div><a onclick="" class="buttonblk"><span>VER MÁS</span></a>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="img-card-cont" onclick="window.location='/eboutiques/eboutique-apple.html?promo_id=191113&promo_name=BuenFin19&promo_creative=Apple&promo_position=M2-e:LandBuenFin';">
                    <div class="img-card-imgcont alone"><img class="img-back" src="/media/wysiwyg/medios_onsite/home/buen-fin-apple.jpg">
                        <div class="img-card-txt-cont">
                            <div class="title-and-logo">
                                <h2 style="color: #494949">APPLE</h2>
                                <p style="color: #EC1D24;">EL BUEN FIN 2019</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </section>

      <section class="cat-three fix-pleca">
      </section>

      <section class="fix-pleca">
        <div class="container sale scll">
            <div class="wrp">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="img-card-cont" onclick="window.location='/gourmet/gourmet-destilados.html?promo_id=191113&promo_name=BuenFin19&promo_creative=VinosLicores&promo_position=M3-a:LandBuenFin';">
                        <div class="img-card-imgcont default"><img class="img-back" src="/media/wysiwyg/medios_onsite/home/buen-fin-vinos-licores.jpg">
                            <div class="img-card-txt-cont">
                                <div class="title-and-logo">
                                    <h2 style="color:#FFF">VINOS Y<br>LICORES</h2>
                                    <p style="color:#FFF">PREPARATE PARA LAS FIESTAS</p>
                                    <p style="color: #EC1D24;">EL BUEN FIN 2019</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="img-card-cont" onclick="window.location='/hogar/hogar-muebles/hogar-muebles-salas.html?promo_id=191113&promo_name=BuenFin19&promo_creative=Salas&promo_position=M3-b:LandBuenFin';">
                        <div class="img-card-imgcont default"><img class="img-back" src="/media/wysiwyg/medios_onsite/home/buen-fin-sala.jpg">
                            <div class="img-card-txt-cont">
                                <div class="title-and-logo">
                                    <h2 style="color:#FFF">SALAS</h2>
                                    <p style="color:#FFF">TODO PARA TU HOGAR</p>
                                    <p style="color: #EC1D24;">EL BUEN FIN 2019</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="img-card-cont" onclick="window.location='/videojuegos.html?promo_id=191113&promo_name=BuenFin19&promo_creative=Videojuegos&promo_position=M3-c:LandBuenFin';">
                        <div class="img-card-imgcont default"><img class="img-back" src="/media/wysiwyg/medios_onsite/home/buen-fin-videojuegos.jpg">
                            <div class="img-card-txt-cont">
                                <div class="title-and-logo">
                                    <h2 style="color:#FFF">VIDEOJUEGOS</h2>
                                    <p style="color:#FFF">SACA TU LADO GAMER</p>
                                    <p style="color: #EC1D24;">EL BUEN FIN 2019</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </section>

      <section class="cat-four fix-pleca">
      </section> 
    </div>    
  </div>
</div>
<div class="spinner-bnf"></div>
<style>
  section.fix-pleca {z-index: 19 !important;}.gradient{background: rgba(0,0,0,1); background: -webkit-linear-gradient (#232626 0%, #464747 5%, #878787 100%); background: -o-linear-gradient(#232626 0%, #464747 5%, #878787 100%); background: linear-gradient(#232626 0%, #464747 5%, #878787 100%);padding-bottom: 150px;}.content-above { position: relative!important; z-index: 0; width: 100%; overflow: visible; margin-top:-150px;}.above-back {position: absolute; top: 30%; right: 5%; width: 204px; height: 240px; background-repeat: no-repeat; z-index: 0;}.above-mobileimg{position: absolute; bottom: 0px; width: 100%; height:700px; background-size: auto 700px; background-repeat: no-repeat; background-position: left bottom; z-index: 1;}.above-container { position: relative; width: 100%; height: 640px; max-width: 1200px; margin: 0px auto; display: table;  z-index: 2;overflow: hidden;}.content-above .above-back, .content-above .above-scrollbar, .content-above .above-title{ display: none;}.above-title{position: relative; margin: 240px 0px 0px 50px;}.above-title h1{font-family: Gotham-Medium; font-size: 47px; letter-spacing: -2px; color: #D1D1D1; margin: 0px;padding-right: 50px;}.above-title p{font-family: Gotham-Book; font-size: 16px; color: #D1D1D1; margin: 16px 0px 35px 0px;}.above-title h2{font-family: Gotham-Medium; font-size: 16px; color: #EC1D24; margin: 0px;}.above-scrollbar { position: absolute; width: 100%; z-index: 3; bottom: 50px;}.wrapp { position: relative; width: 100%; max-width: 1200px; margin: 0px auto;}.mobile-mask { position: relative; cursor: initial;}.scroll-container { display: table; width: 100%;}.blockelement { height: auto; box-sizing: content-box; display: table-cell; min-width:auto; vertical-align: top; min-width: 150px; position: relative;}.blockelement.showmobile{ display: none;}.blockelement a { display: block; width: 100%; height: 100%;}.blockelement img { display: block; max-width: 150px; width: 100%; position: relative; margin: 0px auto; padding: 5px;}.blockelement div { position: absolute; width: 100%; display: table; height: auto; bottom: 0px;}.blockelement div span { font-size: 11px; font-family: Gotham-Medium !important; color: #fff; display: table-cell; vertical-align: middle; text-align: center; max-width:100px;}section.title .above-title{display: block;}section.scrollbar .above-scrollbar, section.back .above-back{display: table;}.container.sale [class*=col-] {padding-right: 0;padding-left: 0;}.sale .img-card-cont {position: relative;padding: 1px;cursor: pointer;}.sale .img-card-imgcont{background-color: #fbfbfb;position: relative;overflow: hidden;cursor: pointer;height: 420px;}.sale .img-card-imgcont.alone{height: 842px;}.sale .img-card-imgcont.default{height: 600px;}.sale .img-card-imgcont:hover>img{-ms-transform: scale(1) translate3d(0,0,0);-webkit-transform: scale(1) translate3d(0,0,0);transform: scale(1) translate3d(0,0,0);}.sale .img-card-imgcont>img{-moz-transform: translate3d(0,0,0) scale(1.025);-webkit-transform: translate3d(0,0,0) scale(1.025);-o-transform: translate3d(0,0,0) scale(1.025);-ms-transform: translate3d(0,0,0) scale(1.025);transform: translate3d(0,0,0) scale(1.025);transition: all .6s cubic-bezier(.215,.61,.355,1);mix-blend-mode: multiply;margin: 10px auto 0px auto;display: block;max-width: 100%;max-height: 200px;}.sale .img-card-imgcont>img.img-back{mix-blend-mode: normal;margin: 0px;display: block;height: 100%;max-height: 100%;max-width: none;position: absolute;}.sale .img-card-imgcont>img.img-back.left{left:0px;}.sale .img-card-imgcont>img.img-back.right{right:0px;}.sale .img-card-imgcont>img.img-back.center{left: -50%;}.sale .img-card-txt-cont{height: 150px;width: 100%;text-align: center;position: absolute;bottom: 0px;display: table;}.sale .title-and-logo{padding: 0px 0px 40px 50px;vertical-align: bottom;display: table-cell;}.sale .title-and-logo h2{font-family: Gotham-Bold;font-size: 50px;margin: 0px 0px 5px 0px;text-align: left;line-height: .8;letter-spacing: -4px;}.sale .title-and-logo p{font-family: Gotham-Medium;font-size: 11px;margin: 0px;line-height: 1.4em;text-align: left;}.sale .price-tag h3{display: block;font-family: Gotham-Medium;font-size: 12px;color: #222;vertical-align: top;margin: 10px 0px; text-transform: uppercase;}.sale .price-tag p{display: block;font-family: Gotham-Book;line-height: 1.2em;font-size: 12px;color: #808080;margin: 10px auto 0px auto;position: relative;padding: 0px 10px;vertical-align: top;}.sale .price-tag p.smtxt{font-size: 8px;font-family: Gotham-Bold;color: #EC1D24;margin: 10px auto;}.sale .price-tag p.line-price{font-family: Gotham-Medium;position: absolute;left: 20px;bottom: 20px;color: #666;text-decoration: line-through;}.sale .price-tag p.price{font-family: Gotham-Bold;position: absolute;right: 20px;bottom: 20px;color: #EC1D24;}.sale .buttonblk{width: 100%;height: 40px;-webkit-transition: all .2s ease-in;-ms-transition: all .2s ease-in;-moz-transition: all .2s ease-in;-o-transition: all .2s ease-in;transition: all .2s ease-in;overflow: hidden;opacity: 0;position: absolute;bottom: -30px;padding: 0px 10px;left: 0px;margin: 10px 0px;}.sale a.buttonblk:hover span, .sale a.buttonblk:focus span, .sale a.buttonblk:visited span, .sale a.buttonblk:hover, .sale a.buttonblk:focus, .sale a.buttonblk:visited{color: #FFF;text-decoration: none;}.sale .buttonblk span{display: block;width: 100%;height: 100%;background-color: #000;line-height: 42px;font-size: 12px;color: #FFF;text-transform: uppercase;text-decoration: none;text-align: center;font-family: Gotham-Medium;letter-spacing: inherit;transition: letter-spacing .2s ease-in;}.sale .img-card-imgcont:hover .buttonblk{bottom: 0px;opacity: 1;transition: all .2s ease-in;}.sale .buttonblk:hover span{text-decoration: none;letter-spacing: .1em;transition: letter-spacing .2s ease-in;}.img-card-cont a:hover{text-decoration:none!important;}@media screen and (max-width: 1200px){.sale .title-and-logo{    padding: 0px 0px 40px 5%;}.sale .title-and-logo h2{font-size: 40px;}}@media screen and (max-width: 1024px) {.content-above {min-height: 700px;margin-top:-100px }}@media screen and (max-width:992px){}@media screen and (max-width: 768px) {.blockelement{height: 120px;}.blockelement div{bottom: 0px;}.content-above .above-scrollbar {overflow: scroll; -webkit-overflow-scrolling: touch;display: block!important;}.container.sale.scll{display: block;overflow:scroll;width:100%}.container.sale.scll .wrp{display: table;}.container.sale.scll .wrp>[class*=col-]{display: table-cell;float: none;min-width: 320px;}}@media screen and (max-width: 767px){.content-above{margin-top: -50px;}.content-above .above-back {top: 18%;right: -15%;}.blockelement {min-width: 28vw;}.above-title{margin: 30% 0px 0px 10px;}}@media screen and (max-width: 520px){.container.sale{padding: 0px;}.sale .img-card-txt-cont{height: 180px;}.sale .title-and-logo{padding-left: 10%;}.sale .price-tag p{max-height: 150px;overflow:hidden;}.sale .price-tag p.line-price{left: inherit;bottom: 45px;width: 100%;}.sale .price-tag p.price{right: inherit;bottom: 20px;width: 100%;}.sale .buttonblk{display: none;}}.buttonyllw{display: block; width: 210px; height: 40px; background-color: #fec424;}.buttonyllw span{text-align: center; line-height: 42px; display: block; color: #000; font-family: Gotham-Medium; font-size: 12px; text-transform: uppercase;cursor: pointer;letter-spacing:inherit;transition: letter-spacing .2s ease-in;}.buttonyllw:hover span{letter-spacing: .1em; transition: letter-spacing .2s ease-in;}
</style>
<script type="text/javascript">
  star_spinner();
  $j(document).ready(function () {
    $j('#header').removeClass('jbb-header-whitevar ');
    skus_n =  new Array();  
    skus_n2 =  new Array();
    Tt = 0;

    $j('.cat-one, .cat-two, .cat-three, .cat-four').html('');

    var cat = [['Lavadoras',12866],['Laptops',12805],['Calzado',16172],['Refrigeradores',12864]];
    Ct = cat.length;

    var a = 1;
    var b = '';
    var c = 50;
    d = 12;


    $j.each( cat, function(index, value) {
      console.log(value[0]+":"+value[1]);
      caza_ganga(a,value[1],c);
    });

    function caza_ganga(a,b,c){
      $j.ajax({
        url : '/eph/dynamic/CatList?catid='+b+'&pxp='+c+'&page='+a,
        data: '',
        type: 'GET',
        dataType : 'text',
        async:false,
        success : function(data) {
            resp = $j.parseJSON(data);
            analiza_art(resp);
        },
        error : function(xhr, status) {
        },
        complete : function(xhr, status) {
        }
      });
    }

    function analiza_art (resp){
      var ids =  new Array(); 

      $j.each( resp.Products, function(i) {
        var po = resp.Products[i].Precio
        var pe = resp.Products[i].Precio_Esp
        var dif = resp.Products[i].Precio - resp.Products[i].Precio_Esp;
        var sku = resp.Products[i].Sku;

        //  console.log(sku+': po='+parseFloat(po).toFixed(2)+' pe='+parseFloat(pe).toFixed(2)+' Dif='+parseFloat(dif).toFixed(2));
        var por = 100-(100*(pe/po));
        var art = {sku:sku, po:po, pe:pe, dif:dif, por:por};
        
        if(pe>0){
            ids.push(art);
        }
      });

      ids.sort(function(a, b){
          return b.dif-a.dif
      });

      var nids =  new Array(); 
      
      for (var i = 0; i < d; i+=1) {
          //  console.log(ids[i].sku);
          var s = ids[i].sku;
          nids.push(s);
          skus_n.push(s); //------
      }

      Tt++;
      if(Tt == Ct){
          nskus = skus_n.join(",");
        //console.log(nskus);
        n_art(nskus);
      }
      //  nskus = nids.join(",");
      //  console.log(nskus);   

      //n_art(nskus,z);
    }

    function n_art (nskus){
      $j.ajax({
          url : '/eph/dynamic/ProdList/',
          data: 'skus='+nskus,
          type: 'GET',
          dataType : 'text',
          success : function(data) {
              //  console.log('Petición correcta');
              //  console.log(data);
              resp = $j.parseJSON(data);
              genera_art(resp);

              //$j('html, body').animate( { scrollTop : 0 }, 800 );
          },
          error : function(xhr, status) {
              //  console.log('Petición error');
          },
          complete : function(xhr, status) {
              //  console.log('Fin de la Peticion');
          }
      });
    }

   function genera_art (resp){

    var listado = resp;
    //console.log('a-------> '+listado);
    var Total = resp.length;
    console.log('total:'+Total);
    for (i=0; i<Total; i++) {
      //console.log('i:'+i);
      aleatorio = Math.floor(Math.random()*(listado.length));
      seleccion = listado[aleatorio];
      //console.log('elimina:'+listado[aleatorio]);
      skus_n2.push(listado[aleatorio]);
      listado.splice(aleatorio, 1);
      //console.log(listado,);
    }

    var resp = skus_n2;   

    var articulos = '';     

    var r = 0;
      $j.each( resp, function(i) {
          articulos +='<div class="col-md-3 col-sm-6 col-xs-6">\n' +
          '               <div class="img-card-cont Sku_link" data-url="'+resp[i].Url+'">\n' +
          '                   <div class="img-card-imgcont">\n' +
          '                       <img class="img-responsive jbb-img-scale" id="product-collection-image-'+resp[i].Id+'" src="'+resp[i].Imagen+'" alt="'+resp[i].Nombre+'">\n' +
          '                       <div class="img-card-txt-cont">\n' +
          '                           <article>\n' +
          '                               <div class="price-tag">\n' +
          '                                   <p class="smtxt">EL BUEN FIN</p>\n'+
          '                                   <h3>'+resp[i].Marca+'</h3>\n' +
          '                                   <p>'+resp[i].Nombre+'</p>\n' +
          '                                   <p class="line-price">$ '+numerosconCommas(parseFloat(resp[i].Precio).toFixed(2))+'</p>\n' +
          '                                   <p class="price">$ '+numerosconCommas(parseFloat(resp[i].Precio_Esp).toFixed(2))+'</p>\n' +
          '                               </div>\n' +
          '                               <a class="buttonblk"><span>VER MÁS</span></a>\n' +
          '                           </article>\n' +
          '                       </div>\n' +
          '                   </div>\n' +
          '               </div>\n' +
          '           </div>';

          r++;

          if(r == 12 ){
            $j('.cat-one').append('<div class="container sale">'+articulos+'</div>');
            articulos = '';     
          }

          if(r == 24 ){
            $j('.cat-two').append('<div class="container sale">'+articulos+'</div>');
            articulos = '';     
          }

          if(r == 36 ){
            $j('.cat-three').append('<div class="container sale">'+articulos+'</div>');
            articulos = '';     
          }
      });

      $j('.cat-four').append('<div class="container sale">'+articulos+'</div>');
      
      stop_spinner();
      
      $j('.Sku_link').click(function () {
          var link = $j(this).attr('data-url');
          console.log(link);
          window.location.href = link;
          return false;
      });
    }
    function numerosconCommas(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
   
    function goToByScroll(id) {
        $j('html,body').animate({
            scrollTop: ($j('.cat-one').offset().top) - 150 
        }, 'slow');
    }
    $j("#scrllto").click(function(e) {
        // Prevent a page reload when a link is pressed
        e.preventDefault();
        // Call the scroll function
        goToByScroll($j('.cat-one'));
    });
  });
</script>
